/* место для вашего.he кода */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 52px 96px 50px;
}

.header__menu {
    width: 391px;
    height: 22px;
}

.header__menu-list {
    display: flex;
    gap: 34px;
}

.header__menu-item {
    padding-left: 13px;
    white-space: nowrap;
    list-style-type: none;
    list-style-image: url('../images/list_marker.svg');
}



.menu-item_active {
    list-style-image: none;
}

.header__menu-link {}

.logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.address {}

.address__link {}

.address__address-text {}

.main {}

.cover {
    padding: 165px 50px 50px 50px;
    width: 1100px;
    height: 757px;
    opacity: 0.6;
    background: #000;

}

.cover__title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.accent-span {
    display: block;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.description {
    display: flex;
    gap: 107px;
    margin-top: 118px;
    width: 1000px;
    height: 51px;

}

.description__text {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.description__button {
    width: 256px;
    height: 51px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

}

.lots {
    margin-top: 180px;
}

.lots__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
}

.cards-list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 27px;
}

.cards-item {
    list-style-type: none;
}

.lots__cards {
    padding: 48px 40px;
    width: 334px;
    height: 596px;
    background: rgba(0, 0, 0, 0.60);
}

.lots__cards-background-movie {
    
}

.lots__cards-background-book {
    
}

.lots__cards-background-painting {
    
}

.lots__cards-text-movie {
    margin-top: 274px;
}

.lots__cards-text-book {
    margin-top: 30px;
}

.lots__cards-text-painting {
    margin-top: 126px; 
}

.lots__cards-title {
    width: 254px;
    height: 82px;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
}

.lots__cards-text {
    width: 254px;
    height: 144px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.lots__link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about {

}

.about__title {

}

.about__text {

}



.footer {

}

.footer__menu {

}

.footer__menu-list {

}

.footer__menu-link {

}

.footer__list {

}

.footer__links {

}

.footer__links-logo {
    width: 48px;
    height: 48px;
}

